*{
    margin: 0;
    padding: 0;
}

.stickers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    input{
        display: flex;
        justify-content: center;
    }
    img{
        height: 100px;
        flex-direction: row;
        margin: 60px;
    }
}

.actions{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 50px;
    p,button{
        margin: 10px;
        text-align: center;
        width: 80px;
    }
}