*{
    margin: 0;
    padding: 0;
}

.stickers{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    input{
        display: flex;
        justify-content: center;
    }
    img{
        height: 100px;
        flex-direction: row;
        margin: 60px;
    }
}

.paragraph{
    display: flex;
    justify-content: center; 
    margin: 50px;
}